# Default configuraiton
font pango:Ubuntu 10, FontAwesome 10
default_border pixel 4


# Swaylock configuration
bindsym $mod+l exec swaylock -c 4C566AD9 --inside-color D8DEE900 --key-hl-color 81A1C1 --ring-color 5E81AC --line-color 81A1C1 --separator-color 00000000 --inside-ver-color EBCB8B00 --inside-wrong-color BF616A00 --ring-wrong-color D08770 --ring-ver-color A3BE8C --text-ver-color A3BE8C --text-wrong-color D08770 --line-wrong-color D08770 --line-ver-color A3BE8C --line-clear-color D8DEE9 --text-clear-color 3B4252

# Bar configuration
bar {
    status_command i3status
    position top
    colors {
        statusline #81A1C1
        background #3B4252
	separator  #5E81AC
    	focused_workspace  #5E81AC #5E81AC #2E3440
    	active_workspace   #5E81AC #5E81AC #2E3440
	inactive_workspace #3B4252 #3B4252 #5E81AC
    	urgent_workspace   #D08770 #BF616A #EBCB8B
    	binding_mode       #2F343A #900000 #FFFFFF
    }
}

exec gsettings set org.gnome.desktop.interface cursor-theme 'Breeze_Snow'
exec gsettings set org.gnome.desktop.interface gtk-theme 'Nordic'
exec gsettings set org.gnome.desktop.interface icon-theme 'Papirus-nordic-blue-folders'
#exec gsettings set $gnome-schema font-name 'Your font name'

# https://thomashunter.name/i3-configurator/
# class                 border  bground text    indicator child_border
client.focused          #5E81ACFF #5E81ACFF #ECEFF4 #32323280   #5E81ACFF
client.focused_inactive #81A1C1FF #81A1C1FF #323232 #484E5000   #81A1C1FF
client.unfocused        #4C566AFF #4C566AFF #81A1C1 #292D2E00   #4C566AFF
client.urgent           #BF616AFF #BF616AFF #D08770 #90000000   #BF616AFF
#client.placeholder      #00000000 #4C566A00 #FFFFFF00 #00000000   #0C0C0C00
